:80 {
	@backend path /api/* /admin/* /auth/* /setup/* /static/* /health/*

	handle @backend {
		reverse_proxy server:7177 {
			header_up X-Forwarded-Proto https
		}
	}

	handle {
		root * /srv/frontend
		try_files {path} /index.html
		file_server
	}
}
